---
title: Pivotal IPsec
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This guide describes the <%= vars.product_full %>, which secures data transmissions inside [<%= vars.platform_name %>](https://network.pivotal.io/products/pivotal-cf). Topics covered in this guide include <%= vars.product_full %> installation and configuration, troubleshooting, and certificate rotation.

Your org might require <%= vars.product_short %> if you transmit sensitive data.

## <a id="overview"></a> Overview

<%= vars.product_full %> provides security to the network layer of the OSI model with a
[strongSwan](https://www.strongswan.org/) implementation of <%= vars.product_short %>.
<%= vars.product_short %> provides a strongSwan job in FIPS mode to each BOSH-deployed VM.

<%= vars.product_short %> encrypts IP data flow between hosts, between security gateways, between service tiles, and between security gateways and hosts.
<%= vars.product_full %> secures network traffic within a Cloud Foundry deployment
and provides internal system protection if a malicious actor breaches your firewall.

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about the <%= vars.product_full %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.9.21</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 17, 2019</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager_full %> versions</td>
        <td>2.4, 2.5, 2.6, 2.7, and 2.8</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %>  versions</td>
        <td>2.4, 2.5, 2.6, 2.7, and 2.8</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu Xenial and Trusty</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and Openstack</td>
    </tr>
</table>


## <a id="implementation"></a> <%= vars.product_short %> Implementation Details

<%= vars.product_full %> implements the following cryptographic suite:

<table border='1' class='nice'>
<tr>
	<th>Key Agreement (Diffie-Hellman)</th>
	<td>IKEv2 Main Mode</td>
</tr>
<tr>
	<th>Bulk Encryption</th>
	<td>AES128GCM16</td>
</tr>
<tr>
	<th>Hashing</th>
	<td><code>SHA2 256</code></td>
</tr>
<tr>
	<th>Integrity/Authentication Tag</th>
	<td>128 bit GHASH ICV</td>
</tr>
<tr>
	<th>Digital Signing</th>
	<td>RSA 3072/4096</td>
</tr>
<tr>
	<th>Peer Authentication Method</th>
	<td>Public/Private Key</td>
</tr>
</table>

## <a id='limitations'></a> Limitation

<%= vars.product_full %> has the following limitations:

* <%= vars.product_short %> is not supported on VMware NSX-T.

* Pivotal recommends configuring <%= vars.product_short %> to use a self-signed certificate to sign instance certificates.
  Pivotal does not recommend using a certificate signed by a public or third-party CA.

* <%= vars.product_short %> is not supported on Windows.
