---
title: Upgrading IPsec for VMware Tanzu
owner: Platform Security & Compliance Team
---

<strong><%= modified_date %></strong>

This topic tells you how to upgrade <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

##<a id="assume"></a>Assumption about <%= vars.ops_manager %> Versions

This topic assumes the following about your <%= vars.ops_manager %>, BOSH CLI, and runtime config.

<table>
  <tr>
    <th><%= vars.ops_manager %> Version</th>
    <th>BOSH CLI Version</th>
    <th>Runtime Config</th>
    <th>More information</th>
  </tr>
  <tr>
    <td>1.12 and later</td>
    <td>CLI v2+</td>
    <td>runtime config in multiple, named files, so that <code>ipsec</code> can be managed separately</td>
    <td><ul>
        <li><a href="https://bosh.io/docs/cli-v2">BOSH&nbsp;CLI&nbsp;v2</a></li>
        <li><a href="https://bosh.io/docs/configs">Configs&nbsp;-&nbsp;bosh</a></li>
        </ul></td>
  </tr>
</table>


<p class="note breaking"><strong>Breaking Change: </strong> If you are using <%= vars.ops_manager %> v1.12 or later,
   you must use named runtime configs.
   If you have not already split your runtime config into multiple named files,
   do so before upgrading <%= vars.product_full %>.
   For general information about named runtime config files, see <a href="https://bosh.io/docs/configs">Configs</a>.</p>

##<a id="upgrade"></a>Upgrade <%= vars.product_short %></a>

To upgrade <%= vars.product_short %> to a later version, do the following:

1. Download the <%= vars.product_short %> software binary
   from the [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/p-ipsec-addon) to your local machine.

2. To copy the software binary to your <%= vars.ops_manager %> VM, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY ipsec-VERSION.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:
    ```

    For example:

    <pre class="terminal">$ cp -i ~/.ssh/my-key.pem ~/Downloads/ipsec-1.8.14.tgz ubuntu<span>@</span>192.168.0.2: </pre>

3. SSH into the <%= vars.ops_manager %> VM.
   For how to do this, see [SSH into <%= vars.ops_manager %>](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

4. Retrieve the latest runtime config by running the following command:

    ```
    bosh -e BOSH-ENVIRONMENT runtime-config  --name ipsec > PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    For example:

    <pre class="terminal">bosh -e my-env runtime-config  --name ipsec > /tmp/ipsec.yml</pre>

5. Upload the latest <%= vars.product_short %> release:

    ```
    bosh -e BOSH-ENVIRONMENT upload-release PATH-TO-NEW-IPSEC-RELEASE
    ```

    For example:

    <pre class="terminal">bosh -e my-env upload-release ~/ipsec-1.8.14.tgz</pre>

6. Edit the ipsec runtime config to set the new release version.

     For example, edit the version in `/tmp/ipsec.yml` as follows:
     <pre>
     releases:
     \- {name: ipsec, version: <strong>1.8.14</strong>} </pre>

7. Update the runtime config:

    ```
    bosh -e BOSH-ENVIRONMENT update-runtime-config --name=ipsec PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    For example:

    <pre class="terminal">bosh -e my-env update-runtime-config --name=ipsec /tmp/ipsec.yml </pre>

8. Navigate to your **Installation Dashboard** in <%= vars.ops_manager %>.

9. If you are using <%= vars.ops_manager %> v2.3 or later, click **Review Pending Changes**.
   For more information about this <%= vars.ops_manager %> page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

10. Click **Apply Changes**.
